{% extends 'core/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>Super Example!</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>First Name</label>
                {{form.first_name}}
            </div>
            <div class="form-group">
                <label>Last Name</label>
                {{form.last_name}}
            </div>
            <div class="form-group">
                <label>E-mail</label>
                {{form.email}}
            </div>
            <div class="form-group">
                <label>Username</label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label>Password</label>
                {{form.password}}
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
        </form>
    </div>
</div>
{% endblock %}